*{
    box-sizing: border-box;
    user-select:none;
}


.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    
}

.formTitle{
    font-size:36px;
    text-align:center;
    font-weight:900;
    color:#1089d3;
   text-shadow:0px 8px 6px  rgba(12, 192, 232, 0.889);
   letter-spacing:3px;
   text-transform:uppercase;
   cursor:pointer;
   margin:10px 0px 50px 0px;
}
.formTitle:after{
    content: "";
    height: 4px;
    position:absolute;
    left: 50%;
    bottom: -18px;
    width: 100px;
    background-color: rgb(20, 156, 229);
    transform:translate(-50%);
    border-radius:50%;


}
.formTitle:hover::after{
    width: 150px;
    border-radius: 50%;
    transition: width 0.5s ease;
}

.formBox{
    width: 700px;
    padding:20px;
    border-top:5px solid rgb(252, 255, 255);  
    border-bottom:5px solid rgb(252, 255, 255);
    border-radius:50px;
    box-shadow:8px 0px  rgba(3, 26, 31, 0.649),
    -2px 0px rgba(3, 26, 31, 0.407);
    background-color:rgb(246, 248, 252);
}
.form{
    width: 100%;
}
.inputBox{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.inputBox .signupField{
    width: 90%;
    height: 50px;
    border-radius:30px;
    border:none;
    /* border:1px solid rgb(66, 96, 122); */
    outline:none;
    padding:0px 10px;
    box-shadow: 0px 0px 10px rgb(175, 158, 158);
    margin: 15px 0px 0px 0px;
}
.inputBox .inputMinBox{
    width: 50%;
}
.inputBox .signupField:focus{
    border-left:4px solid rgb(61, 61, 123);
    border-right:4px solid rgb(61, 61, 123);
    transition: border 0.1s ease-in-out;
}
.eyeIcon{
    position: absolute;
    right: 15%;
    top:45%;
}
.eyeIconTwo{
    position: absolute;
    right: 15%;
    top:45%;
}
.signupField:focus::placeholder{
    font-size: 14px;
    transition: font-size 0.3s ease-in;
}
.errorMessage{
    color:red;
    margin:10px 0px 0px 10px;
    font-size:1.2vmin;
}

.haveAnAccount{
    text-align: center;
    margin:20px 0px;
    
}
.haveAnAccount a{
    text-decoration:none;
    display: inline-block;
}
.haveAnAccount a:hover{
    transform: scale(1.1);
}
.haveAnAccount a:active{
    transform: scale(0.9);
}
.buttonBox button{
    width:100%;
    height:40px;
    border:none;
    outline:none;
    background-color:rgba(82, 82, 177, 0.68);
    color:#fff;
    transform:scale(1);
    transition:transform 0.2s ease-in-out;
    box-shadow:0px 8px 10px rgba(0, 0, 255, 0.201);
    transform:scale(1);
    display: inline-block;
}
.buttonBox button:hover{
    transform:scale(1.03);
    background-color: rgba(99, 55, 140, 0.714);
  
}
.buttonBox button:active{
    transform:scale(0.9);
    font-size: 12px;
    transition: font-size 0.2s ease-in-out;
}
@media screen and (width<600px){
    .formBox{
        width: 80vw;;
    }
    .formTitle{
        font-size:5vmin;
    }
    .form{
        width:70vw;
    }
    .inputBox .signupField{
        width: 100%;
    }
    .inputBox .inputMinBox{
        width:100%;
    }
    .errorMessage{
        color:red;
        margin:10px 0px 0px 10px;
        font-size:2vmin;
    }
    .eyeIcon{
        position: absolute;
        right: 3%;
        top:40%;
    }
    .eyeIconTwo{
        position: absolute;
        right:3%;
        top:40%;
    }
}
@media  screen and (width<360px) {
    .errorMessage{
        font-size: 1.5vmin;
    }
    
}